<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Home page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
  </head>
  
  <body>
  <div class="headerx"></div>

<div class="header">

<form method="" action='searchFriend'>

<h4 id="nameLoc">  </h4>

<input type="text" name="search" placeholder="Search friends" id="searchtext">

<a id="homeLink" href='/success'> Home </a>

<a id="aboutLink" href='/about'> About </a>

<a id="friend" href='/friendList'> Friends </a>

<a id="logout" href='/logout'> Log Out </a>

<a id="pendingReq" href='/pendingReq'> Pending Req </a>

<input type="submit" name="searchFriend" id="searchFriend" value="search">


</form>

</div>
  
  <br><br><br><br><br>
  
  <div>

      <ul class="navbar">

      <br>

        <li class="active"><a href="/aboutEdit">Edit About Detail<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li><br>

        <li class="active"><a href="/about">About<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li><br>

        <li ><a href="/creategroup">Create Group<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li><br>

        <li ><a href="#">Show Groups<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li><br>

        <li ><a href="#">Pending Friend Request<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li><br>

      </ul>

    </div>
    
    <div id="showData">
    
    
<form action="groupdb" method="post">
<h1>enter group name </h1>

<input type="text" name="gname" id="abc"  ></input>
<br>
<h3><%= title12.length %></h3>
<% 

for (var i  in title12){ %>
<p>
<%= title13[i] %>

<input type="checkbox" name= "<%= i %>" value="<%= title13[i] %>" ></input>
<%= title12[i] %>



</p>

<%  }

%>



<input type="submit" value="form a group" id="ruchla1" name="ruchla1"/>
    
   
    </form>



    
    
    


    </body>
</html>